.activity-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.admin-btns {
  display: none;
}

.admin-active .admin-btns {
  display: block;
  text-align: right;
  padding-top: 10px;
}
