.banner-principal {
    position: relative;
    height: 60vh;    /* 游댠 Imagen m치s corta */
    width: 100%;
    overflow: hidden;
}

.img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Hace que la imagen no se deforme */
}

/* Sombra oscura para que se vean BIEN las letras */
.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

/* TEXTO ENCIMA DE LA IMAGEN */
.contenido-banner {
    position: absolute;
    top: 55%;      /* Ajustar posici칩n */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #fff;
}

.contenido-banner h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.contenido-banner p {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.contenido-banner .btn-warning {
    background-color: #ffb347;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.contenido-banner .btn-warning:hover {
    background-color: #ffc766;
}


@media (max-width: 768px) {
    .banner-principal {
        height: 60vh; /* M치s corto en m칩vil */
    }
    .contenido-banner h1 {
        font-size: 1.8rem;
    }
    .contenido-banner p {
        font-size: 0.9rem;
    }
}

.presentacion img {
    border-radius: 10px;
}
.activity-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.admin-btns {
  display: none;
}

.admin-active .admin-btns {
  display: block;
  text-align: right;
  padding-top: 10px;
}
